<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Subject</title>
    <link href="/CSS/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
    <script src="/JavaScript/function.js"></script>
    <script src="/CSS/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>

<body>
    <h1>Add new Subject</h1>

    <div>
        <form th:action="@{/m-subject/add-process}" th:object="${subject}" method="post">
            <div id="autoHide">
                <div th:if="${Error}" class="alert alert-danger">
                    <span th:text="${Error}"></span>
                </div>
            </div>
            <div class="mb-1">
                <label>Select School Level: </label>
                <select th:field="*{sub_level}" id="schoolLevelSelect">
                    <option value="None">--Select Level--</option>
                    <option value="Primary_School">Primary School</option>
                    <option value="Junior_High_School">Junior High School</option>
                    <option value="High_School">High School</option>
                </select>
            </div>
            <div>
                <label>Subject Name: </label>
                <select id="subjectSelect" th:field="*{nameSubject}" required>
                    <option th:value="None">--Select Subject--</option>
                    <option th:value="Literature1">Literature 1</option>
                    <option th:value="Literature2">Literature 2</option>
                    <option th:value="Literature3">Literature 3</option>
                    <option th:value="Literature4">Literature 4</option>
                    <option th:value="Literature5">Literature 5</option>
                    <option th:value="Literature6">Literature 6</option>
                    <option th:value="Literature7">Literature 7</option>
                    <option th:value="Literature8">Literature 8</option>
                    <option th:value="Literature9">Literature 9</option>
                    <option th:value="Literature10">Literature 10</option>
                    <option th:value="Literature11">Literature 11</option>
                    <option th:value="Literature12">Literature 12</option>
                    <option th:value="Math1">Math 1</option>
                    <option th:value="Math2">Math 2</option>
                    <option th:value="Math3">Math 3</option>
                    <option th:value="Math4">Math 4</option>
                    <option th:value="Math5">Math 5</option>
                    <option th:value="Math6">Math 6</option>
                    <option th:value="Math7">Math 7</option>
                    <option th:value="Math8">Math 8</option>
                    <option th:value="Math9">Math 9</option>
                    <option th:value="Math10">Math 10</option>
                    <option th:value="Math11">Math 11</option>
                    <option th:value="Math12">Math 12</option>
                    <option th:value="History1">History 1</option>
                    <option th:value="History2">History 2</option>
                    <option th:value="History3">History 3</option>
                    <option th:value="History4">History 4</option>
                    <option th:value="History5">History 5</option>
                    <option th:value="History6">History 6</option>
                    <option th:value="History7">History 7</option>
                    <option th:value="History8">History 8</option>
                    <option th:value="History9">History 9</option>
                    <option th:value="History10">History 10</option>
                    <option th:value="History11">History 11</option>
                    <option th:value="History12">History 12</option>
                    <option th:value="Geography1">Geography 1</option>
                    <option th:value="Geography2">Geography 2</option>
                    <option th:value="Geography3">Geography 3</option>
                    <option th:value="Geography4">Geography 4</option>
                    <option th:value="Geography5">Geography 5</option>
                    <option th:value="Geography6">Geography 6</option>
                    <option th:value="Geography7">Geography 7</option>
                    <option th:value="Geography8">Geography 8</option>
                    <option th:value="Geography9">Geography 9</option>
                    <option th:value="Geography10">Geography 10</option>
                    <option th:value="Geography11">Geography 11</option>
                    <option th:value="Geography12">Geography 12</option>
                    <option th:value="Biology6">Biology 6</option>
                    <option th:value="Biology7">Biology 7</option>
                    <option th:value="Biology8">Biology 8</option>
                    <option th:value="Biology9">Biology 9</option>
                    <option th:value="Biology10">Biology 10</option>
                    <option th:value="Biology11">Biology 11</option>
                    <option th:value="Biology12">Biology 12</option>
                    <option th:value="Chemistry8">Chemistry 8</option>
                    <option th:value="Chemistry9">Chemistry 9</option>
                    <option th:value="Chemistry10">Chemistry 10</option>
                    <option th:value="Chemistry11">Chemistry 11</option>
                    <option th:value="Chemistry12">Chemistry 12</option>
                    <option th:value="Civic-Education1">Civic Education 1</option>
                    <option th:value="Civic-Education2">Civic Education 2</option>
                    <option th:value="Civic-Education3">Civic Education 3</option>
                    <option th:value="Civic-Education4">Civic Education 4</option>
                    <option th:value="Civic-Education5">Civic Education 5</option>
                    <option th:value="Civic-Education6">Civic Education 6</option>
                    <option th:value="Civic-Education7">Civic Education 7</option>
                    <option th:value="Civic-Education8">Civic Education 8</option>
                    <option th:value="Civic-Education9">Civic Education 9</option>
                    <option th:value="Civic-Education10">Civic Education 10</option>
                    <option th:value="Civic-Education11">Civic Education 11</option>
                    <option th:value="Civic-Education12">Civic Education 12</option>
                    <option th:value="Music1">Music 1</option>
                    <option th:value="Music2">Music 2</option>
                    <option th:value="Music3">Music 3</option>
                    <option th:value="Music4">Music 4</option>
                    <option th:value="Music5">Music 5</option>
                    <option th:value="Music6">Music 6</option>
                    <option th:value="Music7">Music 7</option>
                    <option th:value="Music8">Music 8</option>
                    <option th:value="Music9">Music 9</option>
                    <option th:value="Music10">Music 10</option>
                    <option th:value="Music11">Music 11</option>
                    <option th:value="Music12">Music 12</option>
                    <option th:value="Physical-Education6">Physical Education 6</option>
                    <option th:value="Physical-Education7">Physical Education 7</option>
                    <option th:value="Physical-Education8">Physical Education 8</option>
                    <option th:value="Physical-Education9">Physical Education 9</option>
                    <option th:value="Physical-Education10">Physical Education 10</option>
                    <option th:value="Physical-Education11">Physical Education 11</option>
                    <option th:value="Physical-Education12">Physical Education 12</option>
                    <option th:value="English-Language1">English Language 1</option>
                    <option th:value="English-Language2">English Language 2</option>
                    <option th:value="English-Language3">English Language 3</option>
                    <option th:value="English-Language4">English Language 4</option>
                    <option th:value="English-Language5">English Language 5</option>
                    <option th:value="English-Language6">English Language 6</option>
                    <option th:value="English-Language7">English Language 7</option>
                    <option th:value="English-Language8">English Language 8</option>
                    <option th:value="English-Language9">English Language 9</option>
                    <option th:value="English-Language10">English Language 10</option>
                    <option th:value="English-Language11">English Language 11</option>
                    <option th:value="English-Language12">English Language 12</option>
                    <option th:value="Information-Technology6">Information Technology 6</option>
                    <option th:value="Information-Technology7">Information Technology 7</option>
                    <option th:value="Information-Technology8">Information Technology 8</option>
                    <option th:value="Information-Technology9">Information Technology 9</option>
                    <option th:value="Information-Technology10">Information Technology 10</option>
                    <option th:value="Information-Technology11">Information Technology 11</option>
                    <option th:value="Information-Technology12">Information Technology 12</option>
                </select>
                <div th:if="${#fields.hasErrors('nameSubject')}">
                    <ul>
                        <li th:each="error: ${#fields.hasErrors('nameSubject')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Add</button>
            </div>
        </form>
        <div th:if="${success}">
            <h3>You created a new Subject "<span th:text="${success}"></span>"</h3>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" th:href="@{/backHomepage}">Return HomePage</a>
        <a class="btn btn-primary" th:href="@{/m-subject/showManageSubject}">Subject List Manage</a>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const schoolLevelSelect = document.getElementById('schoolLevelSelect');
            const subjectSelect = document.getElementById('subjectSelect');
            const schoolSelect = document.getElementById('school_select');
            function getValueSchoolLevelSelected(selectValue) {
                let option = [];
                if (selectValue === "Primary_School") {
                    option = ['Literature 1', 'Literature 2', 'Literature 3', 'Literature 4', 'Literature 5', 'Math 1',
                        'Math 2',
                        'Math 3',
                        'Math 4',
                        'Math 5',
                        'Music 1',
                        'Music 2',
                        'Music 3',
                        'Music 4',
                        'Music 5',
                        'History 1',
                        'History 2',
                        'History 3',
                        'History 4',
                        'History 5',
                        'Geography 1',
                        'Geography 2',
                        'Geography 3',
                        'Geography 4',
                        'Geography 5',
                        'Civic Education 1',
                        'Civic Education 2',
                        'Civic Education 3',
                        'Civic Education 4',
                        'Civic Education 5',
                        'English Language 1',
                        'English Language 2',
                        'English Language 3',
                        'English Language 4',
                        'English Language 5',
                    ];
                } else if (selectValue === "Junior_High_School") {
                    option = [
                        'Literature 6',
                        'Literature 7',
                        'Literature 8',
                        'Literature 9',
                        'Math 6',
                        'Math 7',
                        'Math 8',
                        'Math 9',
                        'History 6',
                        'History 7',
                        'History 8',
                        'History 9',
                        'Music 6',
                        'Music 7',
                        'Music 8',
                        'Music 9',
                        'Geography 6',
                        'Geography 7',
                        'Geography 8',
                        'Geography 9',
                        'Biology 6',
                        'Biology 7',
                        'Biology 8',
                        'Biology 9',
                        'Civic Education 6',
                        'Civic Education 7',
                        'Civic Education 8',
                        'Civic Education 9',
                        'Physical Education 6',
                        'Physical Education 7',
                        'Physical Education 8',
                        'Physical Education 9',
                        'English Language 6',
                        'English Language 7',
                        'English Language 8',
                        'English Language 9',
                        'Information Technology 6',
                        'Information Technology 7',
                        'Information Technology 8',
                        'Information Technology 9',
                        'Chemistry 8',
                        'Chemistry 9',
                    ];
                } else {
                    option = [
                        'Literature 10',
                        'Literature 11',
                        'Literature 12',
                        'Math 10',
                        'Math 11',
                        'Math 12',
                        'History 10',
                        'History 11',
                        'History 12',
                        'Geography 10',
                        'Geography 11',
                        'Geography 12',
                        'Biology 10',
                        'Biology 11',
                        'Biology 12',
                        'Music 10',
                        'Music 11',
                        'Music 12',
                        'Civic Education 10',
                        'Civic Education 11',
                        'Civic Education 12',
                        'Physical Education 10',
                        'Physical Education 11',
                        'Physical Education 12',
                        'English Language 10',
                        'English Language 11',
                        'English Language 12',
                        'Chemistry 10',
                        'Chemistry 11',
                        'Chemistry 12',
                        'Information Technology 10',
                        'Information Technology 11',
                        'Information Technology 12',
                    ];
                }
                // Xóa tất cả các option hiện tại trừ option đầu tiên (None)
                subjectSelect.innerHTML = 1;

                // add new options into subject select
                option.forEach(function (otp) {
                    const optionElement = document.createElement('option');
                    optionElement.value = otp.replace(/\s+/g, '_');
                    optionElement.textContent = otp;
                    subjectSelect.appendChild(optionElement);
                });
            }

            schoolLevelSelect.addEventListener('change', function () {
                // show subject
                const selectLevelValue = schoolLevelSelect.value;

                getValueSchoolLevelSelected(selectLevelValue);

                // Tùy chọn "Select Subject"
                const defaultOption = document.createElement('option');
                defaultOption.value = "None";
                defaultOption.textContent = "--Select Subject Name--";
                defaultOption.selected = true;
                subjectSelect.prepend(defaultOption);
            });

            // if schoolLevelSelected
        });
    </script>
</body>

</html>