<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Subject</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/resources/static/CSS/main.css" rel="stylesheet">

    <style>
        table, th, td{
            border: 1px solid black;
            margin: 3px 3px 3px 3px;
        }
    </style>
</head>

<body>
<div><h1>Manage Subject</h1></div>
<div>
    <div id="autoHide">
        <div th:if="${Error}">
            <span th:text="${Error}" class="alert alert-danger"></span>
        </div>
        <div th:if="${success}">
            <span th:text="${success}" class="alert alert-success"></span>
        </div>
    </div>
    <table>
        <th>Subject Id</th>
        <th>Subject Name</th>
        <th>Transcript</th>
        <th>Teacher</th>
        <th>Student</th>
        <th>ScoreCard</th>
        <th>School</th>
        <th>Feature</th>
        <tr th:each="subject : ${subjectList}">
            <td th:text="${subject.id}"></td>
            <td th:text="${subject.nameSubject}"></td>
            <td th:text="${subject.transcript != null ? subject.transcript : 'null'}"></td>
            <td th:text="${subject.teacherList != null ? subject.teacherList : 'null'}"></td>
            <td th:text="${subject.studentList != null ? subject.studentList : 'null'}"></td>
            <td th:text="${subject.scoreCard != null ? subject.scoreCard : 'null'}"></td>
            <td th:text="${subject.schoolList != null ? subject.schoolList : 'null'}"></td>
            <td>
                <a th:href="@{/m-subject/showModifyFormSubject(id=${subject.id})}" class="btn btn-success">Modify</a>
                <a th:href="@{/m-subject/modify-delete(id=${subject.id})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    </table>
</div>
<div th:if="${success}">
    <span th:text="${success}" class="alert alert-danger"></span>
</div>
<div>
    <a class="btn btn-primary" th:href="@{/m-subject/showFormAddSubject}">Add Subject</a>
    <a class="btn btn-primary" th:href="@{/backHomepage}">Return Home</a>
</div>
</body>
<script src="/resources/static/JavaScript/function.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>