<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/static/CSS/main.css" rel="stylesheet">
    <script src="/static/JavaScript/function.js"></script>
    <style>
        table, th, td{
            border: 1px solid black;
            margin: 3px 3px 3px 3px;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form th:action="@{/m-student/add-process}" th:object="${student}" method="post">
                <div th:if="${Error}" class="alert alert-danger">
                    <span th:text="${Error}"></span>
                </div>
                <h3>Add Student</h3>
                <!-- User name -->
                <div class="form-floating mb-1 mt-3">
                    <input type="text" th:field="*{username}" name="username" placeholder="Input Student username (*)"
                           id="usernameid" class="form-control" required/>
                    <label class="form-label" for="usernameid">User name: </label>
                    <div th:if="${#fields.hasErrors('username')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('username')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <!-- Password input -->
                <div class="form-floating mb-1">
                    <input type="password" th:field="*{password}" name="password" placeholder="Input Student Password"
                           id="password" class="form-control" required/>
                    <label class="form-label" for="password">Password: </label>
                    <div th:if="${#fields.hasErrors('password')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('password')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <!-- input the correct attribute name of the entity-->
                <div class="form-floating mb-1">
                    <input type="text" th:field="*{firstName}" name="firstname" required
                           placeholder="Input Teacher FirstName" id="firstname" class="form-control"/>
                    <label class="form-label" for="firstname">First Name: </label>
                    <div th:if="${#fields.hasErrors('firstName')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('firstName')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" th:field="*{lastName}" name="lastname" placeholder="Input Student LastName"
                           id="lastname" class="form-control" required/>
                    <label class="form-label" for="lastname">Last Name: </label>
                    <div th:if="${#fields.hasErrors('lastName')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('lastName')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" th:field="*{address}" name="lastname" placeholder="Input Student Address"
                           id="address" class="form-control" required/>
                    <label class="form-label" for="address">Address: </label>
                    <div th:if="${#fields.hasErrors('address')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('address')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="tel" th:field="*{phoneNumber}" name="phoneNumber" placeholder="Input Student Phone"
                           id="phoneNumber" class="form-control" required/>
                    <label class="form-label" for="phoneNumber">PhoneNumber: </label>
                    <div th:if="${#fields.hasErrors('phoneNumber')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('phoneNumber')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-1">
                    <label class="form-label">Study at school: </label>
                    <form action="#" method="get" th:action="@{/m-student/add-process}">
                        <select th:field="*{school}" required onchange="this.form.submit()">
                            <option value="">--Select School--</option>
                            <option th:each="school : ${schoolList}" th:value="${school.id}"
                                    th:text="${school.name}"></option>
                        </select>
                    </form>
                    <div th:if="${#fields.hasErrors('school')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('school')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
                <div class="mb-1">
                    <input type="text" th:field="*{classes}" name="classes" placeholder="Input Class of Student Study"
                           id="classes" class="form-control"/>
                    <label class="form-label" for="classes">Class id: </label>
                    <div th:if="${#fields.hasErrors('classes')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('classes')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-1">
                    <input type="text" th:field="*{teacher}" name="teacher"
                           placeholder="Input HomeRoomTeacher of Student"
                           id="teacher" class="form-control"/>
                    <label class="form-label" for="teacher">Teacher id: </label>
                    <div th:if="${#fields.hasErrors('teacher')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('teacher')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-4">
                    <input type="text" th:field="*{identity}" name="identity" placeholder="Input Student identity"
                           id="identity" class="form-control" required/>
                    <label class="form-label" for="identity">Identity: </label>
                    <div th:if="${#fields.hasErrors('identity')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('identity')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
                <div class="form-floating mb-1">
                    <input type="email" th:field="*{email}" placeholder="Input Student Email" name="email" id="email"
                           class="form-control" required/>
                    <label class="form-label" for="email">Email: </label>
                    <div th:if="${#fields.hasErrors('email')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('email')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary py-2" type="submit">Add</button>
            </form>
        </div>
    </div>
    <div th:if="${success}" class="alert alert-success">
        <span th:text="${success}"></span>
    </div>
    <div>
        <a class="btn btn-primary" th:href="@{/m-student/showManageStudent}">Return ListStudent</a>
    </div>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
</div>
<script src="/resources/static/JavaScript/function.js"></script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>