<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Score Card</title>
    <link href="/CSS/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="container">
    <h1>Add new Score Card</h1>
    <form th:action="@{/m-score-card/add-process}" th:object="${scoreCard}" class="form-group" method="post">
        <div id="autoHide">
            <div th:if="${Error}" class="alert alert-danger">
                <span th:text="${Error}"></span>
            </div>
            <div th:if="${success}">
                <h3>You created a new score-card "<span th:text="${success}"></span>"</h3>
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label">School Select: </label>
            <select class="school_select" data-type="score-card" th:field="*{school}" required>
                <option value="0">--Select School--</option>
                <option th:each="school : ${schoolList}" th:value="${school.id}" th:text="${school.name} +' ('+ ${school.level}+')'"></option>
            </select>
        </div>
        <div class="mb-1">
            <label class="form-label">Transcript Select: </label>
            <select class="transcript_select" data-type="score-card" th:field="*{transcript}" required>
                <option value="0">--Select Transcript--</option>
            </select>
        </div>
        <div class="mb-1" >
            <label class="form-label">Select Class:</label>
            <select class="class_select" data-type="score-card" required>
                <option value="0">--Select Class--</option>
            </select>
        </div>
        <div class="mb-1">
            <label class="form-label">Student: </label>
            <select class="student_select" th:field="*{student}" data-type="score-card" required>
                <option value="0">--Select Student--</option>
            </select>
            <div th:if="${#fields.hasErrors('student')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('student')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>

        <div class="mb-1">
            <label class="form-label">Subject: </label>
            <select class="subject_select" th:field="*{subject}" data-type="score-card" required>
                <option value="0">--Select Subject--</option>
            </select>
            <div th:if="${#fields.hasErrors('subject')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('subject')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>

        <div class="mb-1">
            <label class="form-label">Name Exam: </label>
            <select th:field="*{nameExam}" required>
                <option th:value="None">--Select Name Exam--</option>
                <option th:value="15-Minute-Test">15 Minute Test</option>
                <option th:value="45-Minute-Test">45 Minute Test</option>
                <option th:value="Review-Old-Lesson">Review Old Lesson</option>
                <option th:value="Midterm-Exam-1">Midterm Exam 1</option>
                <option th:value="Midterm-Exam-2">Midterm Exam 2</option>
                <option th:value="Final-Exam-1">Final Exam 1</option>
                <option th:value="Final-Exam-2">Final Exam 2</option>
            </select>
            <div th:if="${#fields.hasErrors('nameExam')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('nameExam')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label">Day Exam: </label>
            <input type="date" th:field="*{dayExam}" placeholder="Input day exam" name="day-exam" required>
            <div th:if="${#fields.hasErrors('dayExam')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('dayExam')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div class="mb-1">
            <label class="form-label">School Year: </label>
            <select th:field="*{schoolYear}" required>
                <option value="None">--Select SchoolYear--</option>
                <option th:value="2021_2022">2021-2022</option>
                <option th:value="2022_2023">2022-2023</option>
                <option th:value="2023_2024">2023-2024</option>
                <option th:value="2024_2025">2024-2025</option>
                <option th:value="2025_2026">2025-2026</option>
                <option th:value="2026_2027">2026-2027</option>
                <option th:value="2027_2028">2027-2028</option>
                <option th:value="2028_2029">2028-2029</option>
                <option th:value="2029_2030">2029-2030</option>
            </select>
            <div th:if="${#fields.hasErrors('schoolYear')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('schoolYear')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div class="form-floating mb-1">
            <input type="number" th:field="*{score}" placeholder="Input Score" min="0.0" step="0.1" max="10"
                   class="form-control" required>
            <label class="form-label">Score: </label>
            <div th:if="${#fields.hasErrors('score')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('score')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
    <div>
        <a class="btn btn-primary" th:href="@{/backHomepage}">Return HomePage</a>
        <a class="btn btn-primary" th:href="@{/m-score-card/showManageScoreCard}">ScoreCard List Manage</a>
    </div>
</div>
</body>
<script src="/JavaScript/function.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="/CSS/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</html>