<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager StudyRecord</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/resources/static/CSS/main.css" rel="stylesheet">
    <style>
        table, th, td{
            border: 1px solid black;
            margin: 3px 3px 3px 3px;
        }
    </style>
</head>
<body>
<div>
    <h1>Manage StudyRecord</h1>
</div>
<div>
    <div id="autoHide">
        <div th:if="${Error}">
            <span th:text="${Error}" class="alert alert-danger"></span>
        </div>
        <div th:if="${success}">
            <span th:text="${success}" class="alert alert-success"></span>
        </div>
    </div>
    <table>
        <thead>
            <th>Id</th>
            <th>Student</th>
            <th>School</th>
            <th>School Year</th>
            <th>Transcript</th>
            <th>Result Conduct</th>
            <th>Teacher Comment</th>
            <th>Feature</th>
        </thead>
        <tbody>
            <tr th:each="study : ${studyRecordList}">
                <td th:text="${study.id}"></td>
                <td th:text="${study.student.firstName}"></td>
                <td th:text="${study.school.name}"></td>
                <td th:text="${study.schoolYear}"></td>
                <td>
                    <span th:each="transcript : ${study.transcriptList != null ? study.transcriptList : 'null'}" th:utext="'Name: ' + ${transcript.nameTranscript} + '<br>Semester: '+ ${transcript.semester}+'<br>'"></span>
                </td>
                <td th:text="${study.resultConduct}"></td>
                <td th:text="${study.commentOfTeacher}"></td>
                <td>
                    <a th:href="@{/m-study/showModifyFormStudyRecord(id=${study.id})}" class="btn btn-success">Modify</a>
                    <a th:href="@{/m-study/modify-delete(id=${study.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <a class="btn btn-primary" th:href="@{/m-study/showFormAddStudyRecord}">Add New Study-Record</a>
    <a class="btn btn-primary" th:href="@{/backHomepage}">Return Home</a>
</div>
</body>
<script src="/resources/static/JavaScript/function.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>