<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modify StudyRecord</title>
    <link href="/CSS/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
</head>

<body>
<h1>Modify StudyRecord</h1>
<div>
    <form th:action="@{/m-study/modify-process}" th:object="${studyRecord}" method="post">
        <div id="autoHide">
            <div th:if="${Error}" class="alert alert-danger">
                <span th:text="${Error}"></span>
            </div>
            <div th:if="${success}" class="alert alert-success">
                <h3>"<span th:text="${success}"></span>"</h3>
            </div>
        </div>
        <div>
            <label>StudyRecord Id: <span th:text="*{id}"></span></label>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label>School Id: <b><span th:text="*{school.name}"></span></b></label>
        </div>
        <div>
            <label>Student Id: <b><span th:text="*{student.firstName}"></span></b></label>
        </div>
        <div>
            <label>School Year: </label>
            <select th:field="*{schoolYear}">
                <option value="">--Select SchoolYear--</option>
                <option th:value="2021_2022">2021-2022</option>
                <option th:value="2022_2023">2022-2023</option>
                <option th:value="2023_2024">2023-2024</option>
                <option th:value="2024_2025">2024-2025</option>
                <option th:value="2025_2026">2025-2026</option>
                <option th:value="2026_2027">2026-2027</option>
                <option th:value="2027_2028">2027-2028</option>
                <option th:value="2028_2029">2028-2029</option>
                <option th:value="2029_2030">2029-2030</option>
            </select>
            <div th:if="${#fields.hasErrors('schoolYear')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('schoolYear')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div>
            <label>Transcript: </label>
            <div th:each="transcript : ${transcripts != null ? transcripts : 'null'}">
                <input type="checkbox" th:value="${transcript.id}" th:field="*{transcriptList}">
                <span th:text="${transcript.nameTranscript} +' (' + ${transcript.school.id} + ') ('+ ${transcript.schoolYear}+')'   "></span>
            </div>
            <div th:if="${#fields.hasErrors('transcriptList')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('transcriptList')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div>
            <label>Result Conduct: </label>
            <input type="text" th:field="*{resultConduct}" placeholder="Input conduct" name="conduct">
            <div th:if="${#fields.hasErrors('resultConduct')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('resultConduct')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div>
            <label>Comment of Teacher: </label>
            <input type="text" th:field="*{commentOfTeacher}" placeholder="Input comment of teacher" name="conduct">
            <div th:if="${#fields.hasErrors('commentOfTeacher')}">
                <ul>
                    <li th:each="error: ${#fields.hasErrors('commentOfTeacher')}" th:text="${error}"></li>
                </ul>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Modify</button>
        </div>
    </form>
</div>
<div>
    <a class="btn btn-primary" th:href="@{/backHomepage}">Return HomePage</a>
    <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'TEACHER')" class="btn btn-primary" th:href="@{/m-study/showManageStudyRecord}">StudyRecord List Manage</a>
</div>
</body>
<script src="/JavaScript/function.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="/CSS/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</html>