<div th:fragment="fragmentParentAdd-Modify" id="parent_add_modify" class="form-group">
    <div class="mb-1">
        <label for="parent_school_select" class="form-label">School Select: </label>
        <select id="parent_school_select" data-type="parent" class="school_select" th:field="*{school}" required>
            <option value="0">--Select School--</option>
            <option th:each="school : ${schoolList}" th:value="${school.id}"
                    th:text="${school.name} +' ('+${school.level}+')'"></option>
        </select>
<!--        <label th:if="${parent.school != null}"><span th:text="${parent.school.name}"></span></label>-->
        <div th:if="${#fields.hasErrors('school')}">
            <ul>
                <li th:each="error: ${#fields.hasErrors('school')}" th:text="${error}"></li>
            </ul>
        </div>
    </div>
    <!-- Because relation between the entity class and the entity teacher is one to many, a class has many teacher, and opposite
        so that the class must to selected before the teacher
        -->
    <div class="mb-1">
        <label for="parent_class_select" class="form-label">Select Class: </label>
        <select id="parent_class_select" data-type="parent" class="class_select" th:field="*{classes}" required>
            <option value="0">--Select Class--</option>
        </select>
<!--        <label th:if="${parent.classes != null}"><span th:text="${parent.classes.name}"></span></label>-->
        <div th:if="${#fields.hasErrors('classes')}">
            <ul>
                <li th:each="error: ${#fields.hasErrors('classes')}" th:text="${error}"></li>
            </ul>
        </div>
    </div>

    <div class="mb-1">
        <label for="parent_student_select" class="form-label">Select Student: </label>
        <select id="parent_student_select" data-type="parent" class="student_select" th:field="*{student.id}" required>
            <option value="0">--Select Student--</option>
        </select>
<!--        <label th:if="${parent.student != null}"><span th:text="${parent.student.firstName} +' '+ ${parent.student.lastName}"></span></label>-->
        <div th:if="${#fields.hasErrors('student.id')}">
            <ul>
                <li th:each="error: ${#fields.hasErrors('student.id')}" th:text="${error}"></li>
            </ul>
        </div>
    </div>
</div>