<div th:fragment="fragmentUsernamePassword">
    <!-- User name -->
    <div class="form-floating mb-1 mt-3">
        <input type="text" th:field="*{username}" name="username" placeholder="Input Teacher username (*)"
               id="usernameid" class="form-control" required/>
        <label class="form-label" for="usernameid">Username: </label>
        <div th:if="${#fields.hasErrors('username')}">
            <ul>
                <li th:each="error: ${#fields.hasErrors('username')}" th:text="${error}"></li>
            </ul>
        </div>
    </div>

    <!-- Password input -->
    <div class="form-floating mb-1">
        <input type="password" th:field="*{password}" name="password" placeholder="Input Teacher Password"
               id="password" class="form-control" required/>
        <label class="form-label" for="password">Password: </label>
        <div th:if="${#fields.hasErrors('password')}">
            <ul>
                <li th:each="error: ${#fields.hasErrors('password')}" th:text="${error}"></li>
            </ul>
        </div>
    </div>
</div>