<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Teacher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
    <script src="/JavaScript/function.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <form th:action="@{/m-teacher/add-process}" th:object="${teacher}" method="post">
                <div th:if="${Error}" class="alert alert-danger">
                    <span th:text="${Error}"></span>
                </div>
                <div th:if="${success}" class="alert alert-success">
                    <span th:text="${success}"></span>
                </div>
                <h3>Add teacher</h3>
                <!-- User name -->
                <div class="form-floating mb-1 mt-3">
                    <input type="text" th:field="*{username}" name="username" placeholder="Input Teacher username (*)"
                           id="usernameid" class="form-control" required/>
                    <label class="form-label" for="usernameid">User name: </label>
                    <div th:if="${#fields.hasErrors('username')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('username')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <!-- Password input -->
                <div class="form-floating mb-1">
                    <input type="password" th:field="*{password}" name="password" placeholder="Input Teacher Password"
                           id="password" class="form-control" required/>
                    <label class="form-label" for="password">Password: </label>
                    <div th:if="${#fields.hasErrors('password')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('password')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <!-- input the correct attribute name of the entity-->
                <div class="form-floating mb-1">
                    <input type="text" th:field="*{firstName}" name="firstname" required
                           placeholder="Input Teacher FirstName" id="firstname" class="form-control"/>
                    <label class="form-label" for="firstname">First Name: </label>
                    <div th:if="${#fields.hasErrors('firstName')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('firstName')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" th:field="*{lastName}" name="lastname" placeholder="Input Teacher LastName"
                           id="lastname" class="form-control" required/>
                    <label class="form-label" for="lastname">Last Name: </label>
                    <div th:if="${#fields.hasErrors('lastName')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('lastName')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="text" th:field="*{address}" name="lastname" placeholder="Input Teacher Address"
                           id="address" class="form-control" required/>
                    <label class="form-label" for="address">Address: </label>

                    <div th:if="${#fields.hasErrors('address')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('address')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="tel" th:field="*{phoneNumber}" name="phoneNumber" placeholder="Input Teacher Phone"
                           id="phoneNumber" class="form-control" required/>
                    <label class="form-label" for="phoneNumber">PhoneNumber: </label>
                    <div th:if="${#fields.hasErrors('phoneNumber')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('phoneNumber')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-1">
                    <label class="form-label">Work at school: </label>
                    <select id="school_select" th:field="*{school}" required>
                        <option value="">--Select School--</option>
                        <option th:each="school : ${schoolList}" th:value="${school.id}"
                                th:text="${school.name}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('school')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('school')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-1">
                    <label class="form-label" for="subject_select">Subject Select: </label>
                    <select name="subject" id="subject_select" th:field="*{subject}" required>
                        <option th:value="0">--Select Subject--</option>
                    </select>

                    <div th:if="${#fields.hasErrors('subject')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('subject')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="mb-1">
                    <label class="form-label" for="class_select">Class Select: </label>
                    <select name="classes" id="class_select" th:field="*{classes}" required>
                        <option th:value="0">--Select Class--</option>
                    </select>

                    <div th:if="${#fields.hasErrors('classes')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('classes')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-4">
                    <input type="text" th:field="*{identity}" name="identity" placeholder="Input your identity"
                           id="identity" class="form-control" required/>
                    <label class="form-label" for="identity">Identity: </label>
                    <div th:if="${#fields.hasErrors('identity')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('identity')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>

                <div class="form-floating mb-1">
                    <input type="email" th:field="*{email}" placeholder="Input Teacher Email" name="email" id="email"
                           class="form-control" required/>
                    <label class="form-label" for="email">Email: </label>
                    <div th:if="${#fields.hasErrors('email')}">
                        <ul>
                            <li th:each="error: ${#fields.hasErrors('email')}" th:text="${error}"></li>
                        </ul>
                    </div>
                </div>
                <button class="btn btn-primary py-2" type="submit">Add</button>
            </form>
        </div>
    </div>
    <div>
        <a class="btn btn-primary" th:href="@{/m-teacher/showManageTeacher}">Return ListTeacher</a>
    </div>
    <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function(){
        const schoolSelect = document.getElementById('school_select');
        const subjectSelect = document.getElementById('subject_select');
        const classSelect = document.getElementById('class_select');
        schoolSelect.addEventListener('change', function(){
            const schoolId = schoolSelect.value;
            if(schoolId){
                fetch(`/m-teacher/getSubjectBySchool/${schoolId}`)
                .then(response => response.json())
                .then(subjects => {
                    // clear previous subjects
                    subjectSelect.innerHTML = '<option value="0">--Select Subject--</option>';

                    // Populate new subjects
                    subjects.forEach(subject => {
                        const option = document.createElement('option');
                        option.value = subject.id;
                        option.textContent = subject.nameSubject;
                        subjectSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching Subject:', error));

                // fetch class
                fetch(`/m-teacher/getClassBySchoolId/${schoolId}`)
                .then(response => response.json())
                .then(classes => {
                    // clear previous class
                    classSelect.innerHTML = '<option value="0">--Select Class--</option>';

                    // Populate new subjects
                    classes.forEach(classItem => {
                        const option = document.createElement('option');
                        option.value = classItem.id;
                        option.textContent = classItem.name;
                        classSelect.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching Class:', error));
            } else {
                // Clear subjects if no school is selected
                subjectSelect.innerHTML = '<option value="0">--Select Subject--</option>';
                // Clear subjects if no school is selected
                classSelect.innerHTML = '<option value="0">--Select Class--</option>';
            }
        });
    });

    document.addEventListener('DOMContentLoaded', function(){
        const schoolSelect = document.getElementById('school_select');
        const teacherSelect = document.getElementById('teacher_select');
        const classSelect = document.getElementById('class_select');

        function getClassBySchoolId(schoolId){
            if(schoolId){
                // fetch class
                fetch(`/m-student/getClassBySchoolId/${schoolId}`)
                .then(response => response.json())
                .then(classes =>{
                    // clear previous classes
                    classSelect.innerHTML = '<option value="0">--Select Class--</option>';

                    // populate new class
                    classes.forEach(classItem =>{
                        const option = document.createElement('option');
                        option.value = classItem.id;
                        option.textContent = classItem.name;
                        classes.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching Class:', error));
            } else {
                // if no school selected
                classSelect.innerHTML = '<option value="0">--Select Class--</option>';
            }
        }

        function getTeacherBySchoolIdAndClassId(schoolId, classId){
            if(schoolId && classId){
                // fetch teacher
                fetch(`/m-student/getTeacherBySchoolIdAndClassId/${schoolId}&${classId}`)
                .then(response => response.json())
                .then(teachers => {
                    // clear teacher previous
                    teacherSelect.innerHTML= '<option>--Select Teacher--</option>';
                
                    // populate new teacher
                    teachers.forEach(teacherItem =>{
                        const option = document.createElement('option');
                        option.value = teacherItem.id;
                        option.textContent = `${teacherItem.lastName} ${teacherItem.firstName}`;
                        teachers.appendChild(option);
                    });
                })
                .catch(error => console.error('Error fetching Teacher:', error));
            } else {
                // if no class or school selected
                teacherSelect.innerHTML= '<option>--Select Teacher--</option>';
            }
        }

        // event listener for school selection change
        schoolSelect.addEventListener('change', function(){
            const schoolId = schoolSelect.value;
            getClassBySchoolId(schoolId);
        });

        // event listener for the school and the class selection change
        classSelect.addEventListener('change', function(){
            const schoolId = schoolSelect.value;
            const classId = classSelect.value;
            getTeacherBySchoolIdAndClassId(schoolId, classId);
        });

    });
</script>
<script src="/resources/static/JavaScript/function.js"></script>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>