<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link href="/CSS/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
    <script src="/JavaScript/function.js"></script>
    <script src="/CSS/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>

<body>
<div class="row">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi pe-none me-2" width="40" height="32">
                <use xlink:href="#bootstrap"></use>
            </svg>
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Home
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Dashboard
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Orders
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#grid"></use>
                    </svg>
                    Products
                </a>
            </li>
            <li>
                <a href="#" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16">
                        <use xlink:href="#people-circle"></use>
                    </svg>
                    Customers
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong><span sec:authentication="principal.username"></span></strong>
                <span sec:authentication="principal.authorities"></span>
            </a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <form class="dropdown-item" action="#" th:action="@{/logout}" method="POST">
                        <input type="submit" class="btn btn-info" value="Đăng xuất"/>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <h3>System manage student</h3>
        <h4>Home page</h4>
        <div>
            <button sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'TEACHER', 'STUDENT', 'USER', 'PARENT')"
                    class="btn btn-success">Xem
            </button>
            <button sec:authorize="hasAnyRole('ADMIN', 'MANAGER')" class="btn btn-success">Sửa</button>
            <button sec:authorize="hasAnyRole('ADMIN')" class="btn btn-success">Xóa</button>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-school/showManageSchool}">School
                Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" class="btn btn-primary"
               th:href="@{/m-teacher/showManageTeacher}">Teacher Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN', 'TEACHER')" class="btn btn-primary"
               th:href="@{/m-student/showManageStudent}">Student Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN', 'TEACHER')" class="btn btn-primary"
               th:href="@{/m-parent/showManageParent}">Parent Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasAnyRole('MANAGER','ADMIN')" class="btn btn-primary"
               th:href="@{/m-user/showManageUser}">User Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-class/showManageClass}">Class
                Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-note/showManageNotebook}">NoteBook
                Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-subject/showManageSubject}">Subject
                Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-transcript/showManageTranscript}">Transcript
                Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-study/showManageStudyRecord}">StudyRecord
                Manage</a>
        </div>
        <div class="mt-1">
            <a sec:authorize="hasRole('ADMIN')" class="btn btn-primary" th:href="@{/m-score-card/showManageScoreCard}">ScoreCard
                Manage</a>
        </div>
    </div>
</div>
</body>
<script src="/resources/static/JavaScript/function.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</html>