<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager School</title>
    <link href="/CSS/bootstrap-5.3.3-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/CSS/main.css" rel="stylesheet" type="text/css">
    <script src="/JavaScript/function.js"></script>
    <script src="/CSS/bootstrap-5.3.3-dist/js/bootstrap.min.js"></script>
</head>
<body>
<div><h1>School Manage</h1></div>
<div>
    <div id="autoHide">
        <div th:if="${Error}">
            <span th:text="${Error}" class="alert alert-danger"></span>
        </div>
        <div th:if="${success}">
            <span th:text="${success}" class="alert alert-success"></span>
        </div>
    </div>
    <table>
        <th>School Id</th>
        <th>School Name</th>
        <th>School Address</th>
        <th>School Phone</th>
        <th>School Level</th>
        <th>Feature</th>
        <tr th:each="school,iterStat : ${schoolList.content}"
            th:classappend="${iterStat.index % 2 == 0 ? 'even-row' : 'old-row'}">
            <td th:text="${school.id}"></td>
            <td th:text="${school.name}"></td>
            <td th:text="${school.address}"></td>
            <td th:text="${school.phone}"></td>
            <td th:text="${school.level}"></td>
            <td>
                <a th:href="@{/m-school/showModifyForm(id=${school.id})}" class="btn btn-success">Modify</a>
                <a th:href="@{/m-school/modify-delete(id=${school.id})}" class="btn btn-danger">Delete</a>
                <!--                    <form th:action="@{/api-school/modify-delete}" th:object="${school}" method="post">-->
                <!--                        <input type="hidden" th:value="${school.id}">-->
                <!--                        <button type="submit" class="btn btn-danger">Delete</button>-->
                <!--                    </form>-->
            </td>
        </tr>
    </table>
</div>

<!--    START pagination-->
<div>
        <span>
            <a th:if="${schoolList.hasPrevious()}"
               th:href="@{/m-school/showManageSchool(page=${schoolList.number - 1}, size=${schoolList.size})}">Previous</a>
            <a th:if="${not schoolList.hasPrevious()}" href="#" aria-disabled="true" class="disabled-link">Previous</a>
        </span>
    <span th:each="i : ${#numbers.sequence(0, schoolList.totalPages - 1)}">
            <a th:href="@{/m-school/showManageSchool(page=${i}, size=${schoolList.size})}" th:text="${i + 1}" th:classappend="${i == schoolList.number} ? 'active' : ''">1</a>
        </span>
    <span>
            <a th:if="${schoolList.hasNext()}"
               th:href="@{/m-school/showManageSchool(page=${schoolList.number + 1}, size=${schoolList.size})}">Next</a>
            <a th:if="${not schoolList.hasNext()}" href="#" aria-disabled="true" class="disabled-link">Next</a>
        </span>
</div>
<!--    END pagination-->
<div>
    <a class="btn btn-primary" th:href="@{/m-school/showFormAddSchool}">Add school</a>
    <a class="btn btn-primary" th:href="@{/backHomepage}">Return Home</a>
</div>
</body>
</html>